@use 'src/styles/_colors';

@mixin placeholder {
  &::input-placeholder {
    @content;
  }

  &:placeholder {
    @content;
  }

  &::placeholder {
    @content;
  }

  &:input-placeholder {
    @content;
  }
}

.input {
  border: none;
  outline: none;
  border-bottom: 1px solid colors.$color-primary;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 7px;

  &__label {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: colors.$color-gray-1;

    &_hidden {
      display: none;
    }
  }

  @include placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: colors.$color-gray-1;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: start;
    width: 100%;
    align-items: end;
  }

  &__error {
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: colors.$color-error;
  }
}

.inputInline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__label {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  &__input {
    display: block;
    width: 50%;
    text-align: right;
    border: none;
    outline: none;
    color: colors.$color-gray-1;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    background: transparent;
  }
}
