.message {
  display: flex;
  flex-direction: row;
  align-items: center;

  &_in {
    justify-content: start;
  }

  &_out {
    justify-content: end;
  }
}

.messageContent {
  padding: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #1E1E1E;
  max-width: 45%;

  &_out {
    background: #E4EDFD;
    border-radius: 10px 10px 0;
  }

  &_in {
    background: #F8F8F8;
    border-radius: 0 10px 10px;
  }
}
