$color-primary: #3369F3;
$color-secondary: #999;
$color-light: #f8f9fa;
$color-white: white;
$color-black: black;
$color-error: #FF2F2F;
$color-danger: #F00;
$color-gray-1: #999;
$color-chat-list: #FBFBFB;
$color-chat-search: #EFEFEF;
$color-divider: #EAEAEA;
$color-active-chat: #E4EDFD;
