@use "src/styles/colors";

.modal {
  min-width: 100px;
  max-width: 375px;
  min-height: 100px;
  background: #FFF;
  box-shadow: 0 0 6px rgba(0 0 0 / 14%);
  border-radius: 12px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px;

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}

.modal_visible {
  display: block;
}

.modal_hidden {
  display: none;
}
