@use "src/styles/colors";
 .chatElement {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-top: 1px solid colors.$color-divider;
  padding: 12px 0px;
  cursor: pointer;
  &:hover {
    background: colors.$color-activeChat;
  }
  &__active {
   background: colors.$color-activeChat;
  }
  &__avatar {
    position: relative;
    width: 47px;
    height: 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    padding: 0 0;
    margin: 0 0;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
  }

  &__message {
    padding: 0 0;
    margin: 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #999999;
  }

  &__center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4px;
    flex-grow: 1;
  }

  &__right {

  }
}
