.tooltip {
  position: relative;

  &__content {
    position: absolute;
    width: 210px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    z-index: 1;
    right: 0px;
    margin-top: 25px;
    padding: 15px 15px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s;
  }

  &_hidden {
    opacity: 0;
  }

  &_visible {
    opacity: 1
  }
}
