.authForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  background: #FFF;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;
  padding: 50px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  &__title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    justify-self: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    gap: 16px;
    flex-basis: 250px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
  }
}
